
<app-header></app-header>
<app-nav></app-nav>
<app-footer></app-footer>
<app-dashboard></app-dashboard>











<!-- Option 1: Bootstrap Bundle with Popper --
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script> 
<script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
<script src="main.js">

</script>
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {
'use strict'

// Fetch all the forms we want to apply custom Bootstrap validation styles to
const forms = document.querySelectorAll('.needs-validation')

// Loop over them and prevent submission
Array.from(forms).forEach(form => {
form.addEventListener('submit', event => {
  if (!form.checkValidity()) {
    event.preventDefault()
    event.stopPropagation()
  }

  form.classList.add('was-validated')
}, false)
})
})()
</script>
<script>
    function onEnviar1()
  {
    let email= document.forms["myform"]["email"].value;
    let password = document.forms["myform"]["password"].value;
      alert("El email es: " + email);
      alert("Paso la validacion del formulario");
    }

  
        
</script-->